---
import ShareButton from "../components/ShareButton.jsx"; // Importar el componente de React desde la carpeta "components"
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dr. Guillermo Terrado</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <!-- Font Awesome -->
  </head>
  <body
    class="bg-gray-100 text-gray-800 dark:bg-gray-800 dark:text-gray-200 flex flex-col items-center justify-center min-h-screen"
  >
    <div class="absolute top-4 right-4">
      <!-- Botón de compartir -->
      <ShareButton client:load />
    </div>
    <!-- Contenedor Principal -->
    <div class="text-center pt-5">
      <!-- Imagen del doctor centrada -->
      <div class="mb-4">
        <img
          src="/public/portrait.jpeg"
          alt="Doctor"
          class="w-48 h-48 mx-auto rounded-full"
        />
      </div>

      <!-- Nombre y descripción centrados -->
      <h1 class="text-4xl font-bold mb-2">Dr. Guillermo Terrado</h1>
      <p class="text-lg mb-6">Medicina Reproductiva</p>

      <!-- Redes Sociales centradas y distribuidas en varias filas -->
      <div class="flex flex-wrap justify-center gap-6 max-w-md mx-auto">
        <a
          href="https://www.facebook.com/drterrado"
          target="_blank"
          class="flex flex-col items-center"
        >
          <img
            src="/public/001-facebook.png"
            alt="Facebook"
            class="w-20 h-20"
          />
          <p class="mt-2">Facebook</p>
        </a>
        <a
          href="https://www.linkedin.com/in/drterrado/"
          target="_blank"
          class="flex flex-col items-center"
        >
          <img
            src="/public/002-linkedin.png"
            alt="LinkedIn"
            class="w-20 h-20"
          />
          <p class="mt-2">LinkedIn</p>
        </a>
        <a
          href="https://t.me/drterrado"
          target="_blank"
          class="flex flex-col items-center"
        >
          <img
            src="/public/003-telegrama.png"
            alt="Telegram"
            class="w-20 h-20"
          />
          <p class="mt-2">Telegram</p>
        </a>
        <a
          href="mailto:dr.guillermoterrado@gmail.com"
          target="_blank"
          class="flex flex-col items-center"
        >
          <img src="/public/004-gmail.png" alt="Gmail" class="w-20 h-20" />
          <p class="mt-2">Gmail</p>
        </a>
        <a
          href="https://www.instagram.com/drterrado"
          target="_blank"
          class="flex flex-col items-center"
        >
          <img
            src="/public/005-instagram.png"
            alt="Instagram"
            class="w-20 h-20"
          />
          <p class="mt-2">Instagram</p>
        </a>
        <a
          href="https://x.com/drterrado"
          target="_blank"
          class="flex flex-col items-center"
        >
          <img src="/public/006-gorjeo.png" alt="Twitter" class="w-20 h-20" />
          <p class="mt-2">Twitter</p>
        </a>
        <a
          href="https://api.whatsapp.com/send/?phone=34644401122&text&type=phone_number&app_absent=0"
          target="_blank"
          class="flex flex-col items-center"
        >
          <img src="/public/whatsapp.png" alt="WhatsApp" class="w-20 h-20" />
          <p class="mt-2">WhatsApp</p>
        </a>
      </div>
    </div>
  </body>
</html>
